header{
    background-color: black;
    height: 7%;
}

nav{
    padding-top: 1.2em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

li{
    margin-left: 1em;
}

a {
    font-size: small;
}

@media(max-width: 800px){
    .logoName{
        display: none;
    }

    .Head img{
        display: none;
    }

    .home-text{
        font-size: small;
    }

    #vision-text{
        margin-left: 10%;
        margin-top: 3.5em;
    }

    .hoverme{
        font-size: small;
    }
}